mixin main-nav(selected)

  -
    var menu = {
      'главная': '#',
      'каталог': '#',
      'доставка и оплата': '#',
      'полезное': '#',
      'о компании': '#',
      'контакты': '#'
    };

  section.main-nav.container
    nav.main-nav__wrapper
      ul.main-nav__list
        each val, key in menu
          li(class= selected.toLowerCase() === key.toLowerCase() ? 'main-nav__item  main-nav__item--active' : 'main-nav__item')
            a(href=val, title=key)= key
    a(href="#", title="акции").main-nav__stock %&nbsp;акции
