include ../mixins.pug

doctype html
html(class="no-js  page", lang="ru")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block meta
      title Home

    block head
      link(rel="stylesheet", href="css/style.css")
      link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body

    block header

    block nav

    block content

    .page__footer-wrapper
        div Тут «подвал»

    block page-bottom
      script(src="js/script.min.js")
