mixin sections()
  section.sections
    .container

      -
        var sections = [
          {
            'link' : '#',
            'linkImg' : 'img/dishes.png',
            'linkImgTitle' : 'посуда',
            'section': 'посуда'
          },
          {
            'link' : '#',
            'linkImg' : 'img/dishes.png',
            'linkImgTitle' : 'канцелярские товары',
            'section': 'канцелярские товары'
          },
          {
            'link' : '#',
            'linkImg' : 'img/toys-plush.png',
            'linkImgTitle' : 'игрушки',
            'section': 'игрушки'
          },
          {
            'link' : '#',
            'linkImg' : 'img/instruments.png',
            'linkImgTitle' : 'инструменты',
            'section': 'инструменты'
          },
          {
            'link' : '#',
            'linkImg' : 'img/sport.png',
            'linkImgTitle' : 'спорт и отдых',
            'section': 'спорт и отдых'
          },
          {
            'link' : '#',
            'linkImg' : 'img/garden.png',
            'linkImgTitle' : 'сад и огород',
            'section': 'сад и огород'
          },
          {
            'link' : '#',
            'linkImg' : 'img/households.png',
            'linkImgTitle' : 'хозтовары',
            'section': 'хозтовары'
          },
          {
            'link' : '#',
            'linkImg' : 'img/new-year.png',
            'linkImgTitle' : 'новый год',
            'section': 'новый год'
          },
        ];

      ul.sections__list
        each val in sections
          li.sections__item
            img(src=val.linkImg, title=val.linkImgTitle).sections__item-img
            a(href=val.link, title=val.section).sections__item-link!= val.section
            ul.sections__desc-links
              li
                a(href="#").sections__desc-link Школьные товары
              li
                a(href="#").sections__desc-link Офисные принадлежности
              li
                a(href="#").sections__desc-link Бумага
              li
                a(href="#").sections__desc-link Папки
              li
                a(href="#").sections__desc-link.sections__desc-link--all Ещё &raquo;

