mixin offer-banner()
  div.offer-banner
    a(href="#").offer-banner__link
      h2.offer-banner__title  Halloween <br> SALE
      span.offer-banner__desc Страшно большие скидки
    a(href="#").offer-banner__link
      h2.offer-banner__title  Товары для мам <br> и малышей
      span.offer-banner__desc По выгодным ценам
