mixin offer-slider()
  div.offer-slider.flexslider
    ul.slides
      li
        .offer-slider__item
          h2.offer-slider__title Удар по ценам!
          p.offer-slider__desc  Скидки на все спорттовары
          p.offer-slider__limit
            span до&nbsp;
            span 50%
          a(href="#", title="в каталог").offer-slider__link В каталог
      li
        .offer-slider__item
          h2.offer-slider__title Удар по ценам!
          p.offer-slider__desc  Скидки на все спорттовары
          p.offer-slider__limit
            span до&nbsp;
            span 50%
          a(href="#", title="в каталог").offer-slider__link В каталог
      li
        .offer-slider__item
          h2.offer-slider__title Удар по ценам!
          p.offer-slider__desc  Скидки на все спорттовары
          p.offer-slider__limit
            span до&nbsp;
            span 50%
          a(href="#", title="в каталог").offer-slider__link В каталог



