mixin user-block()
  div.user-block
    a(href="#").user-block__login  вход&nbsp;
    span или&nbsp;
    a(href="#").user-block__login  регистрация
    a(href="#").user-block__basket  Корзина&nbsp;
      span (10)
