// В этом файле должны быть стили для БЭМ-блока search, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search {

  position: relative;
  width: 34%;
  height: 37px;
  align-self: flex-end;
  margin-right: 3.6%;

  &__input {
    display: block;
    padding: 7px;
    padding-right: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #e02d33;
    border-radius: 5px;
    background-color: #ffffff;

    &::placeholder {
      font-size: 13px;
      color: #9f9f9f;
    }
  }
}

.fa-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-60%);
  cursor: pointer;
  font-size: 16px;
}
