mixin footer()
  footer.footer
    .container
      section.social
        h2.social__title.footer-title Мы в соцсетях
        ul.social__icons
          li.social__icon
            a(href="#", title="твиттер").social__link.social__link--twitter
          li.social__icon
            a(href="#", title="вконтакте").social__link.social__link--vk
          li.social__icon
            a(href="#", title="гугл акккаунт").social__link.social__link--google
          li.social__icon
            a(href="#", title="фейсбук").social__link.social__link--fb
        span.social__desc  &copy; 2018 г., ООО «Цунами цен» Свидетельство о государственной регистрации № 391604243 от 08.06.2012г. выдано Новополоцким ГИК
        p.social__studio  Разработка сайта &ensp;
          a(href="http://narisuemvse.by/")  Narisuemvse.by
      section.links
        h2.links__title.footer-title  Полезные ссылки
        ul.links__list
          li
            a(href="#" title="Покупателям").links__item Покупателям
          li
            a(href="#" title="Покупателям").links__item Поставщикам
          li
            a(href="#" title="Покупателям").links__item Арендодателям
          li
            a(href="#" title="Покупателям").links__item Политика конфидециальност
      section.contacts
        h2.contacts__title.footer-title Не можете определиться с <br> выбором? Мы поможем!
        .contacts__tel-list
          a(href="tel: +375 (29) 518 44 99" title="+375 (29) 518 44 99").contacts__tel +375 (29) 518 44 99
          a(href="tel: +375 (29) 644 05 83" title="+375 (29) 644 05 83").contacts__tel +375 (29) 644 05 83
          i.fas.fa-phone
        .contacts__mail
          i.fas.fa-envelope
          a(href="#" title="mail")  info@prosto.by
        a(href="#" title="Отправить сообщение").contacts__button Отправить сообщение


