// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  display: flex;
  width: 27%;
  margin-right: 5%;

  &__icon {
    margin-right: 7%;
    width: 152px;
    height: 42px;
  }

  &__desc {
    margin: 0;
    align-self: flex-end;
    color: #a2a2a2;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }

}
