// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {

  width: 27.6%;

  &__title {
    margin-bottom: 27px;
  }

  &__tel-list {
    position: relative;
    padding-left: 42px;
    margin-bottom: 16px;

    & .fa-phone {
      position: absolute;
      top: 3px;
      left: 0;
      transform: rotate(90deg);
      font-size: 16px;
      color: #ec3b49;

    }
  }

  &__tel {
    display: block;
    color: #bfbfbf;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 2px;
    transition: .5s;

    &:hover,
    &:focus {
      color: #ffffff;
      transition: .5s;
    }
  }

  &__mail {
    margin-bottom: 15px;

    & .fa-envelope {
      font-size: 15px;
      color: #ec3b49;
      margin-right: 22px;
    }

    & a {
      font-size: 14px;
      color: #bfbfbf;
      font-weight: 400;
      text-decoration: none;
      transition: .5s;

      &:hover,
      &:focus {
        color: #ffffff;
        transition: .5s;
      }
    }
  }

  &__button {
    display: block;
    text-align: center;
    width: 189px;
    padding-top: 10px;
    padding-bottom: 13px;
    margin-left: 40px;
    border-radius: 3px;
    background-color: #ec3b49;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    transition: .5s;

    &:hover,
    &:focus {
      color: #ec3b49;
      background-color: #ffffff;
      transition: .5s;
    }
  }
}
