mixin advantages()
  section.advantages
    .container
      h2.advantages__title.title-big С нами легко и выгодно!
      p.advantages__desc Выбирая нас – Вы выбираете надежных друзей, которые сделают все от них зависящее, чтобы Вы были довольны нашим <br> сервисом и обязательно еще много раз вернулись к нам)
      ul.advantages__list
        li.advantages__item.advantages__item--supplies Прямые поставки <br> из России и Китая
        li.advantages__item.advantages__item--price Низкая цена,<br> указання с учетом НДС
        li.advantages__item.advantages__item--manager Персональный<br> менеджер
