// В этом файле должны быть стили для БЭМ-блока advantages, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.advantages {

  min-width: 1170px;
  padding-top: 54px;
  padding-bottom: 60px;
  background-color: #f1f1f1;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 17px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 28px;
    color: #737373;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    list-style: none;
  }

  &__item {
    color: #252525;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    padding-left: 92px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 100px;

    &--supplies {
      background-image: url("../img/box.png");
      background-repeat: no-repeat;
      background-position: left 5px;
      background-size: 61px 59px;
    }

    &--price {
      background-image: url("../img/discount.png");
      background-repeat: no-repeat;
      background-position: left 5px;
      background-size: 48px 62px;
    }

    &--manager {
      background-image: url("../img/manager.png");
      background-repeat: no-repeat;
      background-position: left 5px;
      background-size: 59px 61px;
    }

    &:nth-of-type(3) {
      margin-right: 0;
    }
  }
}
