extends templates/layout-home.pug

block meta
  title Home
  meta(name='description', content='Home page!')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block header

  +header()

block nav

  -var selected = 'каталог';
  +main-nav(selected)

block content

  +offer()
  +sections()
  +products()
  +advantages()
  +news()
  +about()

block footer

  +footer()

//- block append page-bottom
//-   script(src='some.js')
