//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/header/header.pug
include blocks/logo/logo.pug
include blocks/search/search.pug
include blocks/user-block/user-block.pug
include blocks/offer/offer.pug
include blocks/offer-slider/offer-slider.pug
include blocks/offer-banner/offer-banner.pug
include blocks/sections/sections.pug
