mixin header()
  header.header
    section.header__contact
      .container
        ul.header__contact-list
          li.header__contact-item.header__contact-item--time
            a(href="#").header__contact-link.header__contact-link--time Время работы: 9.00-18.00
          li.header__contact-item.header__contact-item--shipping
            a(href="#").header__contact-link.header__contact-link--shipping Бесплатная доставка по РБ
          li.header__contact-item.header__contact-item--address
            a(href="#").header__contact-link.header__contact-link--address Адреса складов
          li.header__contact-item.header__contact-item--tel
            a(href="tel: 375 29 518 44 99").header__contact-link.header__contact-link--tel +375 29 518 44 99 &emsp; +375 29 644 05 83
          li.header__contact-item.header__contact-item--call
            a(href="#").header__contact-link.header__contact-link--call Заказать звонок
    section.container
      .header__description
        +logo()
        +search()
        +user-block()




